@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

body {
    margin: 0;
    padding: 0;
    color: #232019;
    font-family: "Georgia", "Noto Sans SC", serif;
    font-size: 14px;
}

a {
    color: rgb(235, 16, 20);
    text-decoration: none;
    font-size: 20px;
}

strong {
    font-size: 20px;
}

.nav {
    border-bottom: 3px solid rgb(234, 236, 239);
    margin: 0 auto;
    width: auto;
    height: 80px;
    top: 0;
    line-height: 80px;
    z-index: 999;
}

.navcenter {
    margin: 0 auto;
    width: 1000px;
    height: 80px;

}

.navicon {
    float: left;
    height: 60px;
    margin-left: 20px;
    margin-top: 10px;
}

.navindex {
    float: right;
    width: 400px;
    display: inline-flex;
    justify-content: space-evenly;

}

#navLogo {
    height: inherit;
}


.main {

    width: 1000px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
}

.main-left {
    width: 400px;
    height: 550px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



.main-right {
    width: 400px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}



.main-right-content {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.gallery {
    transform: scale(0.8);
    --size: 100px;
    display: grid;
    grid-template-columns: repeat(6, var(--size));
    grid-auto-rows: var(--size);
    margin-bottom: var(--size);
    place-items: start center;
    gap: 5px;

    &:has(:hover) img:not(:hover),
    &:has(:focus) img:not(:focus) {
        filter: brightness(0.5) contrast(0.5);
    }

    & img {
        object-fit: cover;
        width: calc(var(--size) * 2);
        height: calc(var(--size) * 2);
        clip-path: path("M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z");
        transition: clip-path 0.25s, filter 0.75s;
        grid-column: auto / span 2;
        border-radius: 5px;

        &:nth-child(5n - 1) {
            grid-column: 2 / span 2
        }

        &:hover,
        &:focus {
            clip-path: path("M0,0 C0,0 200,0 200,0 200,0 200,100 200,100 200,100 200,200 200,200 200,200 100,200 100,200 100,200 100,200 0,200 0,200 0,100 0,100 0,100 0,100 0,100Z");
            z-index: 1;
            transition: clip-path 0.25s, filter 0.25s;
        }

        &:focus {
            outline: 1px dashed black;
            outline-offset: -5px;
        }
    }
}

tr {
    width: fit-content;
    height: auto;
}

td {
    height: 50px;
}

td:nth-child(2),
td:nth-child(4) {
    padding-right: 1.5em;
}

.dialog {
    display: none;
    background: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* 圆角效果 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* 阴影效果 */
    position: absolute;
    z-index: 999;
    /* 设置合适的层叠顺序 */
    width: 200px;
    height: auto;
    text-align: center;
    /* 文本水平居中 */
}


footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}